/* ================== GLOBAL ================== */

* {
  background-color: #fcd5ce;
  /* margin: 0; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2.subtitle {

}

/* ================== NAVBAR ================== */

.header {
  height: 106px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: sticky;
}

.header-items {
  margin-left: 40%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: inline-flex;
  align-items: center;

}

a.nav{
  letter-spacing: .5px;
  text-decoration: none;
  color: black;
  margin: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  top: -20px;
}

a.nav-contact {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  margin: 40px;
}

a.nav-contact:hover {
  color: #474954;
  transform: scale(1.25);
}


.nav:hover {
  color: #474954;
  transform: scale(1.25);
}

.nav:visited {
  text-decoration: none;
  color: #474954;
}

#logo {
  height: 150px;
  width: 150px;
  margin-left: 30px;
}

.projects-img {
  width: 35%;
}

/* ================== INTRO ================== */
.intro {
  background-color: #E5E5E5;
}

h1#intro-title {
  background-color: #E5E5E5;
  font-size: 300%;
  margin-top: 75px;
  display: inline-block;
  margin-left: 17%;
  padding-bottom: 5%;
  font-weight: bold;
}

h2#intro-subtitle {
  margin-left: 17%;
  background-color: #E5E5E5;
  font-size: larger;
  letter-spacing: 1px;
}

#intro-img {
  background-color: #E5E5E5;
  margin-left: 50%;
}
/* ================== PROJECTS ================== */
/* ================== RESUME ================== */
/* ================== CONTACT ================== */