/* ================== GLOBAL ================== */

* {
  /* background-color: #fcd5ce; */
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
}

a {
  color: black;
}

a:visited {
  color: #2D2E35;
}

h2.subtitle {
  font-family: 'Roboto Slab', serif;

  background-color: #E5E5E5;
  text-align: center;
  font-size: 300%;
  font-weight: 400;
  padding-top: 15px;
  padding-bottom: 3%;
  letter-spacing: 1.5px;
  height: auto;
}

h3.subtitle {
  background-color: #E5E5E5;
  text-align: center;
  font-size: 150%;
  padding-bottom: 3%;
  letter-spacing: 1px;
}

h4.subtitle {
  text-align: center;
  font-size: 125%;
  background-color: #E5E5E5;
}

p.subtitle {
  background-color: #E5E5E5;
  padding-top: 2%;
}

.icons {
  text-align: center;
  padding-bottom: 5%;
  padding-top: 5%;
  background-color: #fcd5ce;
}

span {
  background-color: inherit;
}

ul.skills {
  background-color: #E5E5E5;
}

/* ================== NAVBAR ================== */

.header {
  background-color: #fcd5ce;
  height: 106px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: sticky;
  top: -20px;
}

.header-items {
  margin-left: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: inline-flex;
  align-items: center;
  letter-spacing: .25px;
}

a.nav{
  letter-spacing: .5px;
  text-decoration: none;
  color: #474954;
  margin: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  top: -20px;
}

a.nav-contact {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  margin: 40px;
}

a.nav-contact:hover {
  color: black;
  transform: scale(1.25);
}


.nav:hover {
  color: black;
  transform: scale(1.25);
}

/* .nav:visited {
  text-decoration: none;
  color: black;
} */

#logo {
  height: 150px;
  width: 150px;
  margin-left: 30px;
}

.projects-img {
  width: 35%;
}

/* ================== ABOUT/INTRO ================== */

#side-by-side {
  display: flex;
}

.cert {
  font-size: 125%;
}

a.certA {
  text-decoration: none;
  font-size: 150%;
  color: black;
  font-weight: 600;
}


/* ================== INTRO ================== */
.intro {
  background-color: #E5E5E5;
  width: 100%;
}

h1#intro-title {
  background-color: #E5E5E5;
  font-size: 300%;
  margin-top: 75px;
  display: inline-block;
  margin-left: 17%;
  padding-bottom: 5%;
  font-weight: bold;
}

h2#intro-subtitle {
  margin-left: 17%;
  background-color: #E5E5E5;
  font-size: larger;
  letter-spacing: 1px;
}

#intro-img {
  background-color: #E5E5E5;
  margin-left: 50%;
}
/* ================== ABOUT ================== */

#about {
  background-color: #E5E5E5;
  padding-bottom: 3%;
  width: 50%;
}

.skills {
  margin-left: 25%;
  letter-spacing: .75px;
  font-size: larger;

}

p#about-p {
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 3%;
  letter-spacing: .75px;
  font-size: larger;
}
/* h2#about-subtitle {
  background-color: #E5E5E5;
  text-align: center;
  font-size: 300%;
  font-weight: bolder;
  padding-top: 5%;
  padding-bottom: 3%;
} */




/* ================== PROJECTS ================== */

#projects-cf {
  background-color: #E5E5E5;
  color: #474954;
  display: flex;
  padding-top: 3%;
  padding-left: 3%;
}

/* a.projects-title {
  font-size: 150%;
} */
.projects-title {
  text-decoration: none;
  /* text-align: center; */
  /* font-size: 125%; */
  letter-spacing: .75px;
}
.projects-route:hover {
  transform: translateY(-10px);
}
.projects-match:hover {
  transform: translateY(-10px);
}
.projects-a {
  text-decoration: none;
}

a.projects-a {
  color: black;
  letter-spacing: .75px;
  font-weight: 600;
}
/* .projects-subtitle {
  background-color: #E5E5E5;
  color: #474954;
  font-size: 1.5em;
  text-decoration: none;
  letter-spacing: .5px;
  font-weight: 800;
} */
.projects-subtitle2 {
  background-color: #E5E5E5;
  color: #2D2E35;
  text-decoration: none;
  letter-spacing: .5px;
  font-weight: 600;
  font-size: large;
  padding-top: 1%;
}

.projects-description {
  font-size: medium;
  font-weight: 500;
  padding-bottom: 3%;
  padding-top: 1%;
}

/* .projects-subtitle:visited {
  color: black;
} */
/* ================== RESUME ================== */

#resume {
  background-color: #E5E5E5;

}

/* ================== CONTACT ================== */
h3#contact-network {
  background-color: #fcd5ce;
  display: flex;
  justify-content: center;
  padding-top: 3%;
  font-size: x-large;
  letter-spacing: .75px;
}
#contact {
  background-color: #fcd5ce;
  display: flex;
  flex-direction: column;
}

.contact-icons {
  display: flex;
  justify-content: center;
  /* padding: 5%; */
  padding-top: 3%;
}

#linkedIn {
  padding-right: 2.5%;
  padding-left: 2.5%;
}

#linkedIn:hover {
  transform: scale(1.25);
}

#email {
  padding-right: 2.5%;
  padding-left: 2.5%;
}

#email:hover {
  transform: scale(1.25);
}

#github {
  padding-right: 2.5%;
  padding-left: 2.5%;
}

#github:hover {
  transform: scale(1.25);
}

#footer {
  font-size: small;
  color: #474954;
  display: flex;
  justify-content: right;
}